@import 'variables';
@import 'Home';
@import 'normalize';
@import 'About';
@import 'CV';
@import 'Contact';

li {
  list-style-type: square;
}
.main {
  margin-top: 50px;
}
.nav {
  border-bottom: solid thin;
}
.hidden {
  visibility: hidden;
}


