.contact {
    .contact__header {
        text-align: center;
        margin-bottom: 30px;
    }
    .contact__info-container {
        padding-right: auto;
    }
    .social-link {
        color: rgb(142, 8, 8);
    }
    .social-link:hover {
        color: rgb(255, 58, 58);
    }
}
.form {
    .form__header {
        text-align: center;
        margin-bottom: 20px;
    }
    .form__accepted {
        color: rgb(22, 130, 74);
        margin-left: 10px;
    }
    .form__error {
        color: rgb(89, 8, 8);
        margin: 0;
        margin-bottom: -20px;
    }
    .form-group {
        margin-bottom: 30px;
    }
    .social-link {
        color: rgb(142, 8, 8);
    }
    .form__submit {
        text-align: center;
    }
}

