
.page {
    .page__header {
        text-align: center;
        margin-bottom: 20px;
    }
    .page__text {
        margin-bottom: 40px;
    }
}
.home {
    margin-top: 20px;
    margin-bottom: 50px;
    .home__header {
        border-top: solid black 2px;
        border-bottom: solid black 0.5px;
        padding-top: 10px;
        margin-bottom: 25px;
    }
    .home__intro-text {
        max-width: 60%;
    }
    .home__tab {
        -webkit-column-count: 3; 
        -moz-column-count: 3; 
        column-count: 3; 
    }
    .home__intro-text {
        font-weight: bold;
    }
}
.carousel {
    margin-top: 20px;
    .carousel__image {
        height: 400px;
        width: auto;
        object-fit: contain;
    }
    .carousel-control-next-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='red' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    }
    
    .carousel-control-prev-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='red' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    }
}